[submodule "kimodo"]
    path = kimodo
    url = https://github.com/NVlabs/Kimodo.git
    branch = main

[submodule "cosmos-transfer2.5"]
    path = cosmos-transfer2.5
    url = https://github.com/NVIDIA/Cosmos-Transfer2.git
    branch = main

[submodule "video-search-and-summarization"]
    path = video-search-and-summarization
    url = https://github.com/NVIDIA-Metropolis/video-search-and-summarization.git
    branch = main
